@theme {
  --color-statistics: #e3ebea;
  --color-rose-600: #a8035c;
  --color-blueAccent-600: #11749e;
  --color-dark-gray: #3b3b3b;

  --color-primary-50: #e9f1f0;
  --color-primary-100: #bad3d0;
  --color-primary-200: #98beba;
  --color-primary-300: #69a09a;
  --color-primary-400: #4c8d86;
  --color-primary-500: #1f7168;
  --color-primary-600: #1c675f;
  --color-primary-700: #16504a;
  --color-primary-800: #113e39;
  --color-primary-900: #0d2f2c;

  --color-secondary-50: #fff7ec;
  --color-secondary-100: #ffe7c4;
  --color-secondary-200: #ffdca8;
  --color-secondary-300: #ffcc80;
  --color-secondary-400: #ffc268;
  --color-secondary-500: #ffb342;
  --color-secondary-600: #e8a33c;
  --color-secondary-700: #b57f2f;
  --color-secondary-800: #8c6224;
  --color-secondary-900: #6b4b1c;

  --color-accent-50: #fffcf8;
  --color-accent-100: #fff7ea;
  --color-accent-200: #fff3e0;
  --color-accent-300: #ffedd2;
  --color-accent-400: #ffe9c9;
  --color-accent-500: #ffe4bc;
  --color-accent-600: #e8cfab;
  --color-accent-700: #b5a285;
  --color-accent-800: #8c7d67;
  --color-accent-900: #6b604f;

  --color-white-50: #fefefe;
  --color-white-100: #fdfdfd;
  --color-white-150: #f0f0f0;
  --color-white-200: #fcfcfc;
  --color-white-300: #fbfbfb;
  --color-white-400: #fafafa;
  --color-white-500: #f9f9f9;
  --color-white-600: #e3e3e3;
  --color-white-700: #b1b1b1;
  --color-white-800: #898989;
  --color-white-900: #696969;

  --color-black-50: #e7e7e7;
  --color-black-100: #b6b6b6;
  --color-black-200: #929292;
  --color-black-300: #606060;
  --color-black-350: #4e4e4e;
  --color-black-400: #414141;
  --color-black-500: #121212;
  --color-black-600: #101010;
  --color-black-700: #0d0d0d;
  --color-black-800: #0a0a0a;
  --color-black-900: #080808;

  --color-grey-50: #f1f1f1;
  --color-grey-100: #d4d4d4;
  --color-grey-200: #c0c0c0;
  --color-grey-250: #d4d4d4;
  --color-grey-300: #a3a3a3;
  --color-grey-350: #858585;
  --color-grey-400: #919191;
  --color-grey-500: #757575;
  --color-grey-600: #6a6a6a;
  --color-grey-700: #535353;
  --color-grey-800: #404040;
  --color-grey-900: #313131;

  --color-warning-50: #fef9e6;
  --color-warning-100: #fcebb0;
  --color-warning-200: #fbe28a;
  --color-warning-300: #f9d554;
  --color-warning-400: #f8cd33;
  --color-warning-500: #f6c000;
  --color-warning-600: #e0af00;
  --color-warning-700: #af8800;
  --color-warning-800: #876a00;
  --color-warning-900: #675100;

  --color-success-50: #e6f5ef;
  --color-success-100: #b1e1cc;
  --color-success-200: #8cd2b4;
  --color-success-300: #57be91;
  --color-success-400: #36b17c;
  --color-success-500: #049e5b;
  --color-success-600: #049053;
  --color-success-700: #037041;
  --color-success-800: #025732;
  --color-success-900: #024226;

  --color-error-50: #f9e8e8;
  --color-error-100: #eeb8b8;
  --color-error-200: #e59696;
  --color-error-300: #d96666;
  --color-error-400: #d24848;
  --color-error-500: #c71a1a;
  --color-error-600: #b51818;
  --color-error-700: #8d1212;
  --color-error-800: #6d0e0e;
  --color-error-900: #540b0b;

  --color-body: #f5f5f5;

  --color-sky-150: #eaf7ff;
  --color-sky-250: #e0eefb;
  --color-sky-550: #78beff;
  --color-sky-650: #157eb9;
  --color-sky-850: #136cbf;

  --default-font-family: "Vazirmatn UI";
  --font-vazir-farsi: "Vazirmatn UI FD";

  --drop-shadow-2: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);
  --drop-shadow-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --drop-shadow-6: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
  --drop-shadow-8: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
  --drop-shadow-12: 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
  --drop-shadow-16: 0px 0px 16px 0px rgba(0, 0, 0, 0.35);
  --drop-shadow-card: 0px 25px 7px 0px rgba(0, 0, 0, 0);
  --drop-shadow-contact: 0px 24px 14px 0px rgba(0, 0, 0, 0.05);

  --breakpoint-xl: 77rem;
  --breakpoint-2xl: 100rem;
}

/* Hide scrollbar for mobile devices */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #e6e4e4 transparent;
}

.custom-calendar {
  box-shadow: none !important;
}

.custom-calendar .rmdp-container,
.custom-calendar .rmdp-shadow {
  box-shadow: none !important;
}

.custom-calendar .rmdp-month {
  display: flex !important;
  flex-wrap: wrap !important;
}
