@theme {
    --color-doctor-first-banner: #A8035C;
    --color-doctor-second-banner: #11749E;
    --color-white-button-text: #3B3B3B;

    --color-primary-50: #E9F1F0;
    --color-primary-100: #BAD3D0;
    --color-primary-200: #98BEBA;
    --color-primary-300: #69A09A;
    --color-primary-400: #4C8D86;
    --color-primary-500: #1F7168;
    --color-primary-600: #1C675F;
    --color-primary-700: #16504A;
    --color-primary-800: #113E39;
    --color-primary-900: #0D2F2C;

    --color-secondary-50: #FFF7EC;
    --color-secondary-100: #FFE7C4;
    --color-secondary-200: #FFDCA8;
    --color-secondary-300: #FFCC80;
    --color-secondary-400: #FFC268;
    --color-secondary-500: #FFB342;
    --color-secondary-600: #E8A33C;
    --color-secondary-700: #B57F2F;
    --color-secondary-800: #8C6224;
    --color-secondary-900: #6B4B1C;

    --color-accent-50: #FFFCF8;
    --color-accent-100: #FFF7EA;
    --color-accent-200: #FFF3E0;
    --color-accent-300: #FFEDD2;
    --color-accent-400: #FFE9C9;
    --color-accent-500: #FFE4BC;
    --color-accent-600: #E8CFAB;
    --color-accent-700: #B5A285;
    --color-accent-800: #8C7D67;
    --color-accent-900: #6B604F;

    --color-white-50: #FEFEFE;
    --color-white-100: #FDFDFD;
    --color-white-200: #FCFCFC;
    --color-white-300: #FBFBFB;
    --color-white-400: #FAFAFA;
    --color-white-500: #F9F9F9;
    --color-white-600: #E3E3E3;
    --color-white-700: #B1B1B1;
    --color-white-800: #898989;
    --color-white-900: #696969;

    --color-black-50: #E7E7E7;
    --color-black-100: #B6B6B6;
    --color-black-200: #929292;
    --color-black-300: #606060;
    --color-black-400: #414141;
    --color-black-500: #121212;
    --color-black-600: #101010;
    --color-black-700: #0D0D0D;
    --color-black-800: #0A0A0A;
    --color-black-900: #080808;

    --color-grey-50: #F1F1F1;
    --color-grey-100: #D4D4D4;
    --color-grey-200: #C0C0C0;
    --color-grey-300: #A3A3A3;
    --color-grey-400: #919191;
    --color-grey-500: #757575;
    --color-grey-600: #6A6A6A;
    --color-grey-700: #535353;
    --color-grey-800: #404040;
    --color-grey-900: #313131;

    --color-warning-50: #FEF9E6;
    --color-warning-100: #FCEBB0;
    --color-warning-200: #FBE28A;
    --color-warning-300: #F9D554;
    --color-warning-400: #F8CD33;
    --color-warning-500: #F6C000;
    --color-warning-600: #E0AF00;
    --color-warning-700: #AF8800;
    --color-warning-800: #876A00;
    --color-warning-900: #675100;

    --color-success-50: #E6F5EF;
    --color-success-100: #B1E1CC;
    --color-success-200: #8CD2B4;
    --color-success-300: #57BE91;
    --color-success-400: #36B17C;
    --color-success-500: #049E5B;
    --color-success-600: #049053;
    --color-success-700: #037041;
    --color-success-800: #025732;
    --color-success-900: #024226;

    --color-error-50: #F9E8E8;
    --color-error-100: #EEB8B8;
    --color-error-200: #E59696;
    --color-error-300: #D96666;
    --color-error-400: #D24848;
    --color-error-500: #C71A1A;
    --color-error-600: #B51818;
    --color-error-700: #8D1212;
    --color-error-800: #6D0E0E;
    --color-error-900: #540B0B;

    --color-body: #F5F5F5;

    --default-font-family: 'Vazirmatn UI';
    --font-vazir-farsi: 'Vazirmatn UI FD';

    --drop-shadow-2: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);
    --drop-shadow-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --drop-shadow-6: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
    --drop-shadow-8: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
    --drop-shadow-12: 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
    --drop-shadow-16: 0px 0px 16px 0px rgba(0, 0, 0, 0.35);
    --drop-shadow-card: 0px 25px 7px 0px rgba(0, 0, 0, 0);
    --drop-shadow-contact: 0px 24px 14px 0px rgba(0, 0, 0, 0.05);

    --breakpoint-xl: 77rem;
    --breakpoint-2xl: 77rem;
}